.idea/
.idea/**

build/
*.egg-info
install/
log/

*.iml
.DS_Store
.ipynb_checkpoints
.pyc
__pycache__

plots/
unit_tests/img/
evals/
doc/build
output/
dist/
venv/
evaluation/logs
nohup.out
experiments/output_result/
external/
source/commonroad_rp_backup_before_replace/
